{% extends "mail/settings/index.html" %}
{% load static %}

{% block style %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div id="wrapper">
	<div class="main-content container">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					{% include 'messages/messages.html' %}
					<label style="font-size: 30px;" class="control-label mt-5 mb-4 mx-5">Update Password</label>
					<form action="" class="form-horizontal mx-5 mb-5" data-toggle="validator" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row ">
							<div class="form-group col-12 m-1">
								<label for="validationCustom08">Current Password</label>
                                <input type="password" name="current_password" class='form-control border' required='True'>
							</div>
                            <div class="form-group col-12 m-1">
								<label for="validationCustom08">New Password</label>
                                <input type="password" name="new_password" class='form-control border' required='True'>
							</div>
                            <div class="form-group col-12 m-1">
								<label for="validationCustom08">Confirm New Password</label>
                                <input type="password" name="confirm_password" class='form-control border' required='True'>
							</div>
						</div>
						<br>
						<a class="btn btn-secondary btn-sm waves-effect waves-light" href="{% url 'myProfile' %}">Cancel</a>
						<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}

    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}