{% extends 'home/en/index.html' %}
{% load static %}

{% block content %}
  <main class="main-content">
    <!--== Start Recent Job Area Wrapper ==-->
    <section class="recent-job-area bg-color-gray py-5" id="products">
      <div class="container py-5" data-aos="fade-down">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h3 class="title">FOLLOW THESE STEPS</h3>
              <div class="desc">
                <p>HOW YOU CAN GET STARTED WITH US</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-6 col-lg-4">
            <div class="recent-job-item py-3 px-4" data-aos="fade-right" data-aos-duration="1200">
              <div class="main-content">
                <img class="mb-4" src="{% static '/home/img/photos/step1.jpg' %}" width="200" alt="Image-HasTech">
                <h6 class="sub-title text-secondary">STEP ONE</h6>
                <h3 class="title">Discover And Select A Plan</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="recent-job-item py-3 px-4" data-aos="fade-right" data-aos-duration="1200">
              <div class="main-content">
                <img class="mb-4" src="{% static '/home/img/photos/step2.jpg' %}" width="200" alt="Image-HasTech">
                <h6 class="sub-title text-secondary">STEP TWO</h6>
                <h3 class="title">Get Login Details In Email</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="recent-job-item py-3 px-4" data-aos="fade-right" data-aos-duration="1200">
              <div class="main-content">
                <img class="mb-4 p-2" src="{% static '/home/img/photos/step3.jpg' %}" width="200" height="50" alt="Image-HasTech">
                <h6 class="sub-title text-secondary">STEP THREE</h6>
                <h3 class="title">Login To Our Platform</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Recent Job Area Wrapper ==-->
    
    <!--== Start About Area Wrapper ==-->
    <section class="about-area about-default-wrapper">
      <div class="container-fluid container-xs p-0">
        <div class="about-item pt-0">
          <div class="row py-5">
            <div class="col-md-6 col-lg-7">
              <div class="about-thumb about-thumb-two border w-100" data-aos="fade-down" data-aos-duration="1200">
                <img src="{% static '/home/img/steps/4.jpg' %}" alt="Image-HasTech">
              </div>
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="about-content" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="sub-title mt-lg-5 my-0"><span style="font-size: 60px; opacity: 25%;">4</span>FOUR</h4>
                <h3 class="title">Update Your Password</h3>
              </div>
            </div>
          </div>
          <div class="row py-5 bg-color-gray">
            <div class="col-md-6 col-lg-5">
              <div class="about-content" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="sub-title mt-lg-5 my-0"><span style="font-size: 60px; opacity: 25%;">5</span>FIVE</h4>
                <h3 class="title">Add New Employees</h3>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="about-thumb about-thumb-two border w-100" data-aos="fade-down" data-aos-duration="1200">
                <img src="{% static '/home/img/steps/6.jpg' %}" alt="Image-HasTech">
              </div>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-md-6 col-lg-7">
              <div class="about-thumb about-thumb-two border w-100" data-aos="fade-down" data-aos-duration="1200">
                <img src="{% static '/home/img/steps/5.jpg' %}" alt="Image-HasTech">
              </div>
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="about-content" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="sub-title mt-lg-5 mb-0"><span style="font-size: 60px; opacity: 25%;">6</span>SIX</h4>
                <h3 class="title">Manage Your Employees</h3>
              </div>
            </div>
          </div>
          <div class="row py-5 bg-color-gray">
            <div class="col-md-6 col-lg-5">
              <div class="about-content" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="sub-title mt-lg-5 mb-0"><span style="font-size: 60px; opacity: 25%;">7</span>SEVEN</h4>
                <h3 class="title">Now! You Can Use Our Services</h3>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="about-thumb about-thumb-two border w-100" data-aos="fade-down" data-aos-duration="1200">
                <img src="{% static '/home/img/steps/7.jpg' %}" alt="Image-HasTech">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area Wrapper ==-->


    <!--== Start About Area Wrapper ==-->
    <section class="about-area about-default-wrapper">
      <div class="container">
        <div class="about-item">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="about-thumb about-thumb-two" data-aos="fade-down" data-aos-duration="1200">
                <img src="{% static '/home/img/photos/end.jpg' %}" alt="Image-HasTech">
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="about-content" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="sub-title mt-lg-5">// Key Features</h4>
                <h3 class="title">We Have The Ability To Rapidly Grow Your Business.</h3>
                <p class="desc">
                  <div class="member-join-content p-3" data-aos="fade-right" data-aos-duration="1200">
                    <div class="member-join-thumb">
                      <strong>Customized Email Extensions:</strong> Use your own domain extensions for professional email communication.
                    </div>
                  </div>
                </p>
                <p class="desc">
                  <div class="member-join-content p-3" data-aos="fade-right" data-aos-duration="1200">
                    <div class="member-join-thumb">
                      <strong>Secure Drive Storage:</strong> Store and manage your files securely with our integrated drive.
                    </div>
                  </div>
                </p>
                <p class="desc">
                  <div class="member-join-content p-3" data-aos="fade-right" data-aos-duration="1200">
                    <div class="member-join-thumb">
                      <strong>Sub-Accounts Management:</strong> Easily manage multiple email accounts from a single dashboard.
                    </div>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area Wrapper ==-->

  </main>
{% endblock %}