{% extends 'company/index.html' %}
{% load static %}


{% block content %}
	<div id="wrapper">
		<div class="main-content">
			<div class="row small-spacing">
				<div class="col-xs-12">
					<div class="box-content">
						{% include 'messages/messages.html' %}
						<label style="font-size: 30px;" class="control-label mt-5 mx-5">Add an Employee</label>
						<form action="" class="form-horizontal m-5" data-toggle="validator" method="POST" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="row">
								<div class="form-group col-md-5 col-xs-12 m-1">
									<label for="inputName" class="control-label">English Name</label>
									{{formset.english_name}}
								</div>
								<div class="form-group col-md-5 col-xs-12 m-1">
									<label for="inputName" class="control-label">Arabic Name</label>
									{{formset.arabic_name}}
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-5 col-xs-12 m-1">
									<label for="inputName" class="control-label">Personal Email</label>
									{{formset.email}}
								</div>
								<div class="form-group col-md-5 col-xs-12 m-1">
									<label for="inputName" class="control-label">Company Email</label>
									<input name='username' class='form-control' id='inputName' value="@{{request.user.extension}}" placeholder="username@{{request.user.extension}}">
								</div>
							</div>
							<br><br>
							
							<a class="btn btn-secondary btn-sm waves-effect waves-light" href="{% url 'partners' %}">Cancel</a>
							<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<!-- Validator -->
	<script src="{% static '/manager/plugin/validator/validator.min.js' %}"></script>
{% endblock %}