{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="col col-sm-8 col-md-7 col-lg-4 mx-auto ">
        <div class="card border rounded-lg mt-5 p-5 m-2 shadow-sm">
        <div class="card-body text-center">
            
           <img src="{% static 'mail/bassmh.png' %}"  aria-hidden="true" style="width:209px">
            <h3 class="card-title mt-3 mb-4 pb-0 font-weight-normal">Reset Password</h3>
            <!-- <p class="mb-4 ">to continue to Mail and Drive</p> -->
            {% include 'messages/messages.html' %}
    
            <div class="alert alert-success m-2 p-3 mb-3" id="msg" role="alert">
                Reset Password Completed Successfully!
            </div>

            <p><a href="{% url 'login' %}">Login</a></p>
        
        </div>
    </div>
    </div>
{% endblock %}
