{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="col col-sm-8 col-md-7 col-lg-4 mx-auto ">
        <div class="card border rounded-lg mt-5 p-5 m-2 shadow-sm">
        <div class="card-body text-center">
            
           <img src="{% static 'mail/bassmh.png' %}"  aria-hidden="true" style="width:209px">
            <h4 class="card-title mt-3 mb-4 pb-0 font-weight-normal">Two-Factor Authentication</h4>
            <!-- <p class="mb-4 ">to continue to Mail and Drive</p> -->
            {% include 'messages/messages.html' %}
    
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group border-bottom pr-2">
                <input autofocus class="form-control" type="text" name="otp_code" placeholder="OTP Code">
            </div>
            <p>Try another method? <a href="#">Use phone number</a>.</p>
            <input class="btn btn-primary col-md-6 my-3 font-weight-bold" type="submit" value="Confirm">
            </form>

            <p><a href="{% url 'login' %}">Back to Login</a></p>
        
        </div>
    </div>
    </div>
{% endblock %}
