{% extends 'home/en/index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %} 
  <main class="main-content">
    <!--== Start Login Area Wrapper ==-->
    <section class="account-login-area">
      <div class="container pt-5">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <div class="login-register-form-wrap">
              <div class="login-register-form">
                <div class="form-title">
                  <h4 class="title">Sign In</h4>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                  <div class="row">
                    {% include 'messages/messages.html' %}
                    {% csrf_token %}
                    <div class="form-group pr-2">
                        <input autofocus class="form-control" type="text" name="otp_code" placeholder="OTP Code">
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <div class="remember-forgot-info">
                          <div class="forgot-password">
                            <p>Try another method? <a href="{% url 'smsOTP' %}">Use phone number</a>.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <button class="btn-theme">Sign In</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Login Area Wrapper ==-->
  </main>
{% endblock %}