{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="col col-sm-8 col-md-7 col-lg-4 mx-auto ">
        <div class="card border rounded-lg mt-5 p-5 m-2 shadow-sm">
        <div class="card-body text-center">
            
           <img src="{% static 'mail/bassmh.png' %}"  aria-hidden="true" style="width:209px">
            <h3 class="card-title mt-3 mb-4 pb-0 font-weight-normal">Register using</h3>
            <!-- <p class="mb-4 ">to continue to Mail and Drive</p> -->
            {% include 'messages/messages.html' %}
    
            <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class=" btn btn-primary row py-3 px-5 mb-4"><img src="{% static 'mail/nafath.png' %}" style="max-height: 20px;"></div>
            <!-- <input class="btn btn-primary col-md-6 my-3" type="submit" value="Sign Up by Nafath" disabled> -->
            </form>

            <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        
        </div>
    </div>
    </div>
{% endblock %}
