{% extends 'employer/en/mails/mail.html' %}
{% load static %}


{% block mail_content %}
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">{{title}}</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body no-padding">
				<div class="table-responsive mailbox-messages">
					<table class="table table-hover table-striped">
						<tbody>
							<tr class="bg-secondary text-light">
								<td></td>
								<td></td>
								<td><b>SENDER</b></td>
								<td><b>SUBJECT</b></span> <!-- - {{replay.mail.message}} -->
								</td>
								<td></td>
								<td><b>DATE</b></td>
							</tr>
							{% if all_replays %}
								{% for replay in all_replays %}
									<tr>
										<td></td>
										<td class="mailbox-star"><a href="{% url 'read_sent_mail' replay.mail.mail_id %}#{{replay.replay_id}}"><i class="mdi mdi-email"></i></a></td>
										<td class="mailbox-name"><a href="{% url 'read_sent_mail' replay.mail.mail_id %}#{{replay.replay_id}}">{{replay.sender}}</a></td>
										<td class="mailbox-subject"><span class="mailbox-subject-title"><a class="text-secondary" href="{% url 'read_sent_mail' replay.mail.mail_id %}#{{replay.replay_id}}">{{replay.message}}</a></span> <!-- - {{replay.mail.message}} -->
										</td>
										<td class="mailbox-attachment"></td>
										<td class="mailbox-date">{{replay.date}}</td>
									</tr>
								{% endfor %}
							{% else %}
								<br>
								<div style="width: 100%;"><span class="mx-auto">You don't have any new mails </span></div>
								
								<br>
							{% endif %}
						</tbody>
					</table>
					<!-- /.table -->
				</div>
				<!-- /.mail-box-messages -->
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /. box -->
	</div>
	<!-- /.col-md-9 col-xs-12 -->
{% endblock %}
