{% extends 'company/index.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}
      <div class="overlay"></div>
              <div id="sidebar">
                  <ul class="nav nav-sidebar">
                    <img class="sidebar-logo" src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png" srcset="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png 1x, https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_2x_r2.png 2x " alt="" aria-hidden="true" style="width:130px;height:40px">
                    <li class="nav-item">
                      <a class="nav-link mb-3 mr-4 py-2 " id="compose" >
                        <img src="https://www.gstatic.com/images/icons/material/colored_icons/2x/create_32dp.png" class="plus-img mr-2"> Compose
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-lg-1 active" id="inbox" >
                        <i class="fas fa-inbox pl-2 pr-3"></i>Inbox
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-lg-1 " id="sent">
                        <i class="fas fa-paper-plane pl-2 pr-3"></i>Sent
                      </a>
                    </li>
                    <li class="nav-item " >
                      <a class="nav-link py-lg-1 " id="archive">
                       <img src="https://www.gstatic.com/images/icons/material/system/1x/archive_black_20dp.png" class="archive_btn">Archived
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-lg-1" id="starred">
                        <i class="fas fa-star pl-2 pr-3" style="color: initial;"></i>Starred
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link py-lg-1 " id="trash">
                        <i class="fas fa-trash pl-2 pr-3"></i>Trash
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mb-3 mr-4 py-2 " id="compose" href="{% url 'files' %}">
                        <img src="https://www.gstatic.com/images/icons/material/colored_icons/2x/create_32dp.png" class="plus-img mr-2"> Drive
                      </a>
                    </li>
                    
                  </ul>
                 </div>
                </div>

      <div class="container-fluid pr-0">
         <div class="col-sm-12 main">
          <div class="toast bg-dark text-white px-2 py-1 mx-2 hideToast" id="myToast">
            <div class="toast-header bg-dark text-white">
                <h6 class="mr-auto mt-2" id="head"></h6>
                <button type="button" class="ml-3 close text-white" data-dismiss="toast">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
          {% endif %}
              
                {% block body %}
                {% endblock %}
          </div>
        </div>
				
{% endblock %}

{% block script %}
	<!-- iCheck -->
	<script src="{% static '/client/plugin/iCheck/icheck.min.js' %}"></script>
	<script src="{% static '/client/scripts/mailbox.init.min.js' %}"></script>
{% endblock %}