{% extends 'candidate/en/mails/mail.html' %}
{% load static %}


{% block mail_content %}
	<div class="col-md-9 col-xs-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Read Mail</h3>
				<!-- <div class="box-tools pull-right">
					<a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
					<a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
				</div> -->
			</div>
			<!-- /.box-header -->
			<div class="box-body no-padding">
				<div class="mailbox-read-info">
					<h3>{{selected_mail.title}}</h3>
					<h5>From: {{selected_mail.sender}}
						<span class="mailbox-read-time pull-right">{{selected_mail.date_receive}}</span>
					</h5>
				</div>
				<!-- /.mailbox-read-info -->
				<div class="mailbox-controls with-border text-center">
					<a href="{% url 'mail_delete' selected_mail.mail_id %}" class="btn btn-default btn-sm waves-effect waves-light" data-toggle="tooltip" data-container="body" title="Delete"><i class="fa fa-trash"></i></a>
					{% if selected_mail.is_trash == '0' %}
						<a href="{% url 'mail_trash' selected_mail.mail_id %}" class="btn btn-default btn-sm waves-effect waves-light" data-toggle="tooltip" data-container="body" title="Move to Trash"><i class="mdi mdi-delete-sweep"></i></a>
					{% endif %}
					{% if selected_mail.is_trash == '1' %}
						<a href="{% url 'mail_to_inbox' selected_mail.mail_id %}" class="btn btn-default btn-sm waves-effect waves-light" data-toggle="tooltip" data-container="body" title="Move to Inbox"><i class="fa fa-inbox"></i></a>
					{% endif %}

					{% if selected_mail.is_read == '0' %}
						<a href="{% url 'mail_to_unread' selected_mail.mail_id %}" class="btn btn-default btn-sm waves-effect waves-light" data-toggle="tooltip" data-container="body" title="Make Unread"><i class="fa fa-envelope"></i></a>
					{% endif %}
					{% if selected_mail.is_read == '1' %}
						<a href="{% url 'mail_to_unread' selected_mail.mail_id %}" class="btn btn-default btn-sm waves-effect waves-light" data-toggle="tooltip" data-container="body" title="Make Unread"><i class="fa fa-envelope"></i></a>
					{% endif %}

					<!-- <button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-toggle="tooltip" data-container="body" title="Reply"><i class="fa fa-reply"></i></button>
					<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-toggle="tooltip" data-container="body" title="Forward"><i class="fa fa-share"></i></button> -->
					<button type="button" class="btn btn-default btn-sm waves-effect waves-light" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></button>
				</div>
				<!-- /.mailbox-controls -->
				<div class="mailbox-read-message p-5">
					{{selected_mail.message|safe}}
				</div>
				<!-- /.mailbox-read-message -->
			</div>
			<!-- /.box-body -->
			<div class="box-footer">
				<!-- <div class="pull-right">
					<button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-reply"></i> Reply</button>
					<button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-share"></i> Forward</button>
				</div> -->
				<a href="{% url 'mail_delete' selected_mail.mail_id %}"><button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-trash-o"></i> Delete</button></a>
				{% if selected_mail.is_trash == '0' %}
					<a href="{% url 'mail_trash' selected_mail.mail_id %}"><button type="button" class="btn btn-default waves-effect waves-light"><i class="mdi mdi-delete-sweep"></i> Trash</button></a>
				{% endif %}
				{% if selected_mail.is_trash == '1' %}
					<a href="{% url 'mail_to_inbox' selected_mail.mail_id %}"><button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-inbox"></i> Back to Inbox</button></a>
				{% endif %}
				<button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-print"></i> Print</button>
			</div>
			<!-- /.box-footer -->
		</div>
		<!-- /. box -->
        <form method="POST" class="card">
        	{% csrf_token %}
          <h3 class="card-title mx-5">Replays</h3>
          {% for replay in all_replays %}
          <div id="{{replay.replay_id}}" class="card-body p-5" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
            <div class="d-flex flex-start align-items-center">
            <img
                class="rounded-circle shadow-1-strong me-3"
                src="http://127.0.0.1:8000/avatar.jpg"
                alt="avatar"
                width="60"
                height="60"
              />
              <div>
                <h4 class="fw-bold text-primary mb-1">{{replay.sender}}</h4>
                <p class="text-muted small mb-0">
                  {{replay.date}}
                </p>
              </div>
            </div>

            <p class="mt-3 mb-4 pb-2">
              {{replay.message}}
            </p>
          </div>
          {% endfor %}
          <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <div class="form-outline w-100">
                <textarea
                  name="message"
                  class="form-control"
                  id="textAreaExample"
                  rows="4"
                  style="background: #fff;"
                  placeholder="Write a replay here..."
                ></textarea>
              </div>
            </div>
            <div class="float-end mt-2 pt-1">
              <button type="submit" class="btn btn-primary btn-sm">Post replay</button>
            </div>
          </div>
        </form>
		     
	</div>
	<!-- /.col-md-9 col-xs-12 -->
{% endblock %}