{% extends 'candidate/en/mails/mail.html' %}
{% load static %}


{% block mail_content %}
	<div class="col-md-9 col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">{{title}}</h3>
				<div class="box-tools">
					<div class="has-feedback">
						<input type="text" class="form-control input-sm" placeholder="Search Mail">
						<span class="glyphicon glyphicon-search form-control-feedback"></span>
					</div>
				</div>
				<!-- /.box-tools -->
			</div>
			<!-- /.box-header -->
			<div class="box-body no-padding">
				<div class="mailbox-controls">
					<!-- Check all button -->
					<button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
					<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-trash"></i></button>
					<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-exclamation-circle"></i></button>
					<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-refresh"></i></button>
					<div class="pull-right">
						<span class="inbox-text">1-50/200</span>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-angle-left"></i></button>
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-angle-right"></i></button>
						</div>
						<!-- /.btn-group -->
					</div>
					<!-- /.pull-right -->
				</div>
				<div class="table-responsive mailbox-messages">
					<table class="table table-hover table-striped">
						<tbody>
							{% if all_replays %}
								{% for replay in all_replays %}
									<tr class="unread">
										<td><input type="checkbox"></td>
										<td class="mailbox-star"><a href="#"><i class="fa fa-mail-reply text-primary"></i></a></td>
										<td class="mailbox-name"><a href="{% url 'mail_read' replay.mail.mail_id mail_nav %}#{{replay.replay_id}}">{{replay.sender}}</a></td>
										<td class="mailbox-subject"><span class="mailbox-subject-title"><a class="text-dark" href="{% url 'mail_read' replay.mail.mail_id mail_nav %}#{{replay.replay_id}}">{{replay.message}}</a></span> <!-- - {{replay.message}} -->
										</td>
										<td class="mailbox-attachment"></td>
										<td class="mailbox-date">{{replay.date|timesince}} ago</td>
									</tr>
								{% endfor %}
							{% else %}
								<br>
								<div class="p-5 row" style="max-width: 100%;"><h3 class="p-5 text-secondary">You don't have any replays in this box.</h3></div>
								
								<br>
							{% endif %}
						</tbody>
					</table>
					<!-- /.table -->
				</div>
				<!-- /.mail-box-messages -->
			</div>
			<!-- /.box-body -->
			<div class="box-footer no-padding">
				<div class="mailbox-controls">
					<!-- Check all button -->
					<button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
					<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-trash"></i></button>
					<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-exclamation-circle"></i></button>
					<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-refresh"></i></button>
					<div class="pull-right">
						<span class="inbox-text">1-50/200</span>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-angle-left"></i></button>
							<button type="button" class="btn btn-default btn-sm waves-effect waves-light"><i class="fa fa-angle-right"></i></button>
						</div>
						<!-- /.btn-group -->
					</div>
					<!-- /.pull-right -->
				</div>
			</div>
		</div>
		<!-- /. box -->
	</div>
	<!-- /.col-md-9 col-xs-12 -->
{% endblock %}
