{% extends 'employer/en/index.html' %}
{% load static %}


{% block content %}
	<div id="wrapper">
		<div class="main-content">
			<div class="row m-auto">
				<div class="col-6">
					<div class="card card-body p-5">
						<p>Are you sure to delete "{{item.first_name}}"</p>

						<form action="{% url 'admin_delete' item.id %}" method="POST">

							{% csrf_token %}
							<div class="p-5">
	                            <label>Write your admin's password to delete<span class="text-danger">*</span></label>
	                            <input type="password" name="admin_password" class='form-control' id='inputName' required='True'>
	                        </div>
							<a class="btn btn-outline-secondary" href="{% url 'admins' %}">Cancel</a>
							<input class="btn btn-danger" type="submit" name="Delete">
						</form>		
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}